<script type="text/javascript">
  window.onload = function () {
    var timing = window.performance.timing;
    var pageLoadTime = (timing.loadEventEnd - timing.navigationStart) / 1000;

    if (!pageLoadTime || pageLoadTime < 0) {
      pageLoadTime = (new Date().getTime() - timing.navigationStart) / 1000;
    }

    document.getElementById("loadtime").innerHTML =
      pageLoadTime.toFixed(2) + " s";
  };
</script>

<footer class="bg-gray-800 rounded-lg shadow-sm mx-auto my-3 max-w-5xl">
  <div class="w-full p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-400 sm:text-center">
      &copy; <span id="current-year"></span> <a><%= appName %></a>. All Rights
      Reserved. | Powered by
      <a href="https://github.com/lumenlabss/LumenOne" class="hover:underline"
        >LumenOne</a
      >.
    </span>
  </div>
  <script>
    document.getElementById("current-year").textContent =
      new Date().getFullYear();
  </script>
</footer>

<div class="w-full text-right pr-3 pb-1 text-gray-400 text-sm">
  <code><%= appVersion %> - Load in <span id="loadtime"></span></code>
</div>
