<footer class="bg-gray-800 rounded-lg shadow-sm mx-auto my-3 max-w-5xl">
  <div class="w-full p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-400 sm:text-center"
      >&copy; <span id="current-year"></span> <a><%= appName %></a>. All Rights
      Reserved. | Powered by
      <a href="https://github.com/lumenlabss/LumenOne" class="hover:underline"
        >LumenOne</a
      >.
    </span>
  </div>
  <script>
    document.getElementById("current-year").textContent =
      new Date().getFullYear();
  </script>
</footer>
