<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loading...</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
    <script>
      // Function to retrieve the “x” parameter in the URL
      function getParam(name) {
        const url = new URL(window.location.href);
        return url.searchParams.get(name);
      }

      const destination = getParam("x") || "/web/list"; // Default value
      setTimeout(() => {
        window.location.href = destination;
      }, 700);
    </script>
  </head>
  <body
    class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-white min-h-screen flex flex-col"
  >
    <div
      class="flex flex-col items-center justify-center flex-1 px-20 text-center"
    >
      <div
        class="w-16 h-16 border-4 border-t-transparent border-blue-400 rounded-full animate-spin shadow-lg shadow-cyan-500/20"
      ></div>
      <p class="text-gray-200 text-lg font-medium tracking-wide animate-pulse">
        Loading...
      </p>
    </div>
  </body>
</html>
